@import url("https://fonts.googleapis.com/css?family=Lato&display=swap");
.cover {
  font-family: "Lato";
  height: 100vh;
  width: 100vw;
  background-color: #0f8a69;
  position: absolute;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 7rem;
  font-weight: bolder;

  animation: fade-out 1500ms linear forwards;
}

@keyframes fade-out {
  from {
    opacity: 1;
    display: block;
    z-index: 100;
  }
  to {
    opacity: 0;
    display: none;
    z-index: 0;
  }
}
