.modal {
  display: none;
  position: fixed;
  width: 100%;
  height: 100%;
  .modal_content {
    overflow-y: auto;
    animation: bounce 0.2s linear;
    animation-fill-mode: forwards;
    border-radius: 5px;
    position: absolute;
    background-color: white;
    height: 737px;
    // height: 526.43px;
    width: 734px;
    bottom: 110px;
    right: 34px;
    button,
    select {
      cursor: pointer;
    }
    .task_header {
      display: flex;
      justify-content: space-between;
      padding-top: 18px;
      padding-right: 23.1px;
      padding-left: 114.23px;
      .new_task {
        background: #2f80ed;
        border-radius: 5px;
        color: white;
        border: none;
        padding: 8px 16px;
      }
    }
  }
}

@keyframes bounce {
  from {
    opacity: 0;
    transform: scale(0);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes bounce_out {
  from {
    opacity: 1;
    transform: scale(1);
  }
  to {
    opacity: 0;
    transform: scale(0);
  }
}
